In [ ]:
import sqlite3
 
def create_table(db_name,table_name,sql):  #this function enables us to create a table in the database
    with sqlite3.connect(db_name)as db:
        cursor = db.cursor()
        cursor.execute("Select name from sqlite_master where name=?",(table_name,))
        result = cursor.fetchall()
        keep_table = True
        if len(result) == 1:
            response = input("The table {0} already exists, do you wish to recreate it (y/n): ".format(table_name))
            if response == "y":
                keep_table = False
                print("The {0} table will be recreated - all existing data will be lost".format(table_name))
                cursor.execute("drop table if it exists {0}".format(table_name))
                db.commit()#this commits any changes to the database
            else:
                print("The existing table was kept")
        else:
            keep_table = False
        if not keep_table:
            cursor.execute(sql)
            db.commit()


if __name__ == "__main__":
    db_name = "Coffee_shop.db"
    sql = """CREATE TABLE tblProduct
            (ProductID INTEGER,
            Name TEXT,
            Price REAL,
            primary key (ProductID))"""
    create_table(db_name, "tblProduct", sql)

In [ ]:
import sqlite3
def insert_data(values): 
    with sqlite3.connect("Coffee_shop.db") as db:
        cursor = db.cursor()
        sql = "Insert into tblProduct (Name, Price) values (?,?)"
        cursor.execute(sql,values)
        db.commit()

if __name__ == "__main__":
    tblProduct = ("Espresso", 1.50)
    insert_data(tblProduct)
    tblProduct = ("Latte", 1.35)
    insert_data(tblProduct)
    tblProduct = ("Mocha", 2.40)
    insert_data(tblProduct)
    tblProduct = ("Green Tea", 1.20)
    insert_data(tblProduct)
    tblProduct = ("Black Tea", 1.00)
    insert_data(tblProduct)
    tblProduct = ("Americano", 1.50)
    insert_data(tblProduct)